<%= provide :title, @content %>
<% if @content == "plan" %>
  <div id="content-sidebar">
    <%= @trip.plan.html_safe %>
  </div>
<% elsif @content == "expense" %>
  <div id="content-sidebar">
    <%= @trip.expense.html_safe %>
  </div>
<% end %>
