<%= provide :title, @content %>
<% if @content == "plant" %>
  <div id="content-sidebar">
    <%= @trip.plant.html_safe %>
  </div>
<% elsif @content == "expense" %>
  <div id="content-sidebar">
    <%= @trip.expense.html_safe %>
  </div>
<% end %>
