<%= provide :title, @content %>
<% if @content == "plant" %>
  <div id="content-sidebar">
    <%= @trip.plant %>
  </div>
<% elsif @content == "expense" %>
  <div id="content-sidebar">
    <%= @trip.expense %>
  </div>
<% else %>
  <div class="row" id="form-row">
    <div class="container">
        <% @notifications.each do |notification| %>
          <%= render notification %>
        <% end %>
    </div>
  </div>
<% end %>
